# LATIHAN - P0W1D3AM: Conditional_&Looping_CODA003

In [12]:
a = 100
b = 200
if a < b:
  print('a lebih kecil dari b')

a lebih kecil dari b

In [3]:
a = 100
b = 200
if a > b:
  print('a lebih besar dari b')

In [7]:
a = 'januari'
b = 'februari'
if a != b:
  print('a tidak sama dengan b')
else:
  print('a sama dengan b')

a tidak sama dengan b

In [10]:
a = 1000
b = 1000.0
if a == b:
  print()
else:
  print('a tidak sama dengan b')

In [16]:
a = {'angka_ganjil' : [1, 3, 5, 7]}
b = {'angka_genap' : [2, 4, 6, 8]}
if a != b:
     print('a berbeda dengan b')
else:
     print('a sama dengan b')

a berbeda dengan b

In [19]:
pendidikan = 's1'
daftar_pendidikan = ['s1', 's2', 's3']
if pendidikan in daftar_pendidikan:
  print('merupakan bagian')
else:
  print('bukan merupakan bagian')

nama = 'budi'
nama_lengkap = 'budi kurniawan'
if nama in nama_lengkap:
  print('merupakan bagian')
else:
  print('bukan merupakan bagian')

merupakan bagian
merupakan bagian

In [20]:
a = 100
b = 100
if a < b:
  print('a lebih kecil dari b')
elif a > b:
  print('a lebih besar dari b')
else:
  print('a sama dengan b')

a sama dengan b

In [21]:
uang = 13000
if uang >= 15000:
  print('nasi goreng')
elif uang >= 10000 and uang < 15000:
  print('ketoprak')
elif uang >= 5000 and uang < 10000:
  print('batagor')
elif uang < 5000:
  print('es teh manis')

ketoprak

In [23]:
print('hello '*5)

hello hello hello hello hello

In [8]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [ ]:
list(range)

In [7]:
list(range(1,13,3))

[1, 4, 7, 10]

In [28]:
for i in range(1, 11):
  print(i)
  if i == 8:
    break

1
2
3
4
5
6
7
8

In [22]:
for i in range(1, 11):
  if i % 2 == 0 and i <= 6:
    print(i, end=',')

2,4,6,

In [29]:
daftar_nama = ['anwar', 'budi', 'cecep', 'deny']

for nama in daftar_nama:
  print(nama)

anwar
budi
cecep
deny